.card__toast {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem 1.5rem;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.tag-list {
  list-style: none;
  display: flex;
  gap: var(--ds-size-3);
  flex-wrap: wrap;
  align-items: baseline;
}


