#login-dialog {
  max-width: 480px;
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: 0.25rem;
  padding: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  button {
    margin-top: 1.5rem;
    width: fit-content;
  }
}
