/* Designsystemet overrides */

.ds-table {
  --dsc-table-padding: var(--ds-size-3);
}


main {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1rem;
}

pre {
  background-color: var(--fds-colors-grey-100);
  padding: 2rem;
  border-radius: 0.25rem;
  overflow-x: auto;
}

.container__grid {
  margin-top: var(--ds-size-10);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--ds-size-8);
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--ds-size-2);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-1);
}

.tag-list {
  list-style: none;
  display: flex;
  gap: var(--ds-size-3);
  flex-wrap: wrap;
  align-items: baseline;
  li {
    margin-top: 0;
  }
}
