@import "@digdir/designsystemet-css";
@import "@digdir/designsystemet-theme";

body {
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv05" 1; /* Enable lowercase l with tail */
}

ul {
  padding: 0;
  list-style: none;
}

/* use monospace if numeric */
.numeric {
  font-variant-numeric: tabular-nums;
}

/* use view transitions by default */
@view-transition {
  navigation: auto;
}