name: CI/CD testapp-app-linux

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  DOTNET_VERSION: "10.0.102" # Global environment variables
  TEST_APP_SERVICE_NAME: "oed-testapp-app-linux"

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: GitHub metadata
        run: |
          printf "%s on %s by %s\n" "$GITHUB_REPOSITORY" "$GITHUB_REF_NAME" "$GITHUB_ACTOR"

      - name: Set up .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Run Tests
        run: dotnet test -c Release --no-build --verbosity normal

      - name: Publish
        run: mkdir -p /home/runner/.aspnet/https && dotnet publish ./src/oed-testdata.Server/oed-testdata.Server.csproj --no-build -c Release -o ./publish

      - name: Deploy to Azure App Service (Test)
        uses: azure/webapps-deploy@122b7ec46017e53a3f71e3a027d67550a1641f5e # v2
        with:
          app-name: "${{ env.TEST_APP_SERVICE_NAME }}"
          publish-profile: ${{ secrets.PUBLISH_PROFILE_LINUX }}
          package: ./publish/
